{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- displaying Django messages -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Main content -->
<main>
    <!-- Meet details section -->
    <section>
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="banner">
                <img src="{{post.banner_image.url}}" alt="Jogging Event Banner" class="img-fluid">
            </div>
            <br>
            <h1>Meet Details</h1>
            <p>Type | {{ post.type }}</p>
            <p>Distance | {{ post.distance }}{{ post.distance_unit }}</p>
            <p>Day | {{ post.day }}</p>
            <p>Time | {{ post.time }}</p>
            <p>Location | {{ post.location }}</p>
        </div>
        <div class="container">
            <p>Details:</p>
            <p>{{ post.body|safe }}</p>
        </div>
        <div class="container">
            {% if post.location_url %}
            <iframe src="{{ post.location_url }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            {% else %}
            <p>Location map is not available.</p>
            {% endif %}
        </div>
    </section>
    <!-- Comments section -->
    <section>
        <div class="container">
            <h2>Chat/Comments</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="comment" class="form-label">Add a comment</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="container">
                <h3>Comments:</h3>
                {% for comment in comments %}
                <p>{{ comment.body }}</p>
                <p>Comment by: {{ comment.user }}</p>
                <p>On: {{ comment.created_at }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}