{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container" id="signup">
    <div id="sign-up-box">
        <div class="row">
            <div class="col-md-8 mt-3">
                <h3 style="margin-left: 10px; color: #fafafa;">{% trans "Sign In" %}</h3>

                <p style="margin-left: 10px;">{% blocktrans %}Welcome back to Really Love Running!<br>To update your profile and interact with the site further please log in.<br>If
                    you
                    have not created an account yet, then please <a style="color: #fafafa;" class="link" href="{{ signup_url }}">sign up</a>
                    first.{% endblocktrans %}</p>
            </div>
        </div>
        <div style="margin-left: 10px;" class="row">
            <div class="col-md-8 mt-3">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </form>
            </div>
        </div>
        <button style="color: #fafafa;" class="btn btn-signup right" type="submit">{% trans "Sign In" %}  &raquo;</button>
    </div>
</div>


{% endblock %}