{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Main content -->
<main>
    <section id="hero">
        <div id="cover-text">
            <h2>Really Love Running</h2>
            <h3>Birmingham Canals, Alexander Stadium, Digbeth Streets</h3>
        </div>
    </section>
    <section id="reasons">
        <h2>Why love running with us?</h2>
        <div id="benefits">
            <div id="benefits-physical">
                <div>
                    <h3>Feel Healthy <i class="fa-solid fa-heart-pulse"></i></h3>
                    <hr>
                    <p>Since it improves aerobic fitness, running is a great way to help improve your
                        cardiovascular health. Plus, it burns calories and can build strength.</p>
                </div>
                <div>
                    <h3>Feel Strong <i class="fa-solid fa-dumbbell"></i></h3>
                    <hr>
                    <p>Running strengthens your heart by pumping blood more effectively through your body.</p>
                </div>
            </div>
            <div id="benefits-mental">
                <div>
                    <h3>Feel free <i class="fa-brands fa-fly"></i></h3>
                    <hr>
                    <p>Physical exercise, running included, is known to release endorphins in the brain.
                        Endorphins make you more energetic, more awake and, yes, happier.</p>
                </div>
                <div>
                    <h3>Get social <i class="fa-solid fa-globe"></i></h3>
                    <hr>
                    <p>When we run with others, we can run farther and faster more easily. Social running can
                        pull you out of a running funk or low mood, and inspire you to try new events.</p>
                </div>
            </div>
            <div id="benefits-image">
                <div id="circle-cover-bg"></div>
            </div>
        </div>
    </section>

    <!-- Meetup times Bootstrap Cards -->
    <section id="meetups">
        <h2 class="hidden-heading">Meet-up Times</h2>
        <div class="container">
            <div class="row justify-content-center">
                {% for post in posts %}
                    <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                        <!-- URL below needs to be in URLs -->
                        <a href="{% url 'post_detail' post.slug %}" class="card-link">
                            <div class="card text-white">
                                <img src="{{post.background_image.url}}" class="card-img" alt="Urban Run image - Digbeth Streets">
                                <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
                                    <h5 class="card-title fs-5">{{post.type}} <i class="{{post.icon}}"></i></h5>
                                    <p class="card-text lh-1">{{post.day}}</p>
                                    <p class="card-text lh-1">{{post.distance}}{{post.distance_unit}}</p>
                                    <p class="card-text lh-1">{{post.location}}</p>
                                    <p class="card-text lh-1">{{post.time}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
