{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Main content -->
 <main>
    <section id="profile">
        <div class="container">
            <br>
            <br>
            <h1>Profile Page</h1>
            <h2>Profile Picture</h2>
            <div class="col-12 col-md-4 mb-2">
                {% if "placeholder" in profile.profile_image.url %}
                <img src="{% static 'assets/images/placeholder.png' %}" style="width: 75%;"
                    alt="placeholder for missing profile image">
                {% else %}
                <img src="{{ profile.profile_image.url }}" style="width: 75%;"
                    alt="Image of {{ profile.name }}">
                {% endif %}
                </div>
            <!-- Profile data -->
            <div class="row">
                <div class="col-md-8">
                    <h2>Profile</h2>
                    <p>Username: {{ profile.user }}</p>
                    <p>Name: {{ profile.name }}</p>
                    <p>Birthdate: {{ profile.birth_date }}</p>
                    <p>Location: {{ profile.location }}</p>
                    <p>Favourite Run: {{ profile.favourite_run }}</p>
                    <p>Favourite music to run to: {{ profile.favourite_music }}</p>
                    <p>Jogging Goals: {{ profile.jogging_goals }}</p>
                    <p>Profile created at: {{ profile.created_at }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <h2>About Me</h2>
                    <p>Bio: {{ profile.bio }}</p>
                    <p>Last updated: {{ profile.updated_at }}</p>
                </div>
            </div>

            <!-- Edit and Delete buttons -->
            <div class="row mt-3">
                <div class="col-md-8">
                    <a href="{% url 'edit_profile' %}" class="btn btn-warning">Edit Profile</a>
                    <a href="{% url 'delete_profile' %}" class="btn btn-danger">Delete Profile</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}